<h1>Steam#index</h1>
<p>Find me in app/views/steam/index.html.erb</p>



<ul>

  <% @response['applist']['apps'].each do |app| %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= app['name'] %></h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    <li><%= app['name'] %> (App ID: <%= app['appid'] %>)</li>
<% end %>
</ul>